.weather-forecast {
  text-align: center;
  color: rgba(39, 33, 66, 0.4);
}

.forecast-day {
  margin: 0px;
  padding: 0px;
}

.col {
  background-color: #ffece2;
  margin: 5px;
  margin-bottom: 30px;
  padding: 0px;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(39, 33, 66, 0.4);
}

img {
  width: 70px;
  padding: 0px;
  margin: 0 auto;
}

.forecast-temperatures {
  margin-bottom: 10px;
  font-weight: 500;
}

.forecast-min-temperature {
  opacity: 0.6;
  margin-left: 5px;
}
